<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>kemia.view.AtomRenderer</title>
<!-- 
 <script src="../../kemia_compiled.js"></script>
 -->
<script src="../../third-party/closure/closure/goog/base.js"></script>
<script src="../deps.js"></script>

<script>
	goog.require('kemia.view.AtomRenderer');
	goog.require('kemia.model.Atom');
	goog.require('kemia.model.Molecule');
	goog.require('kemia.model.Bond');
	goog.require('goog.events.EventType');
	goog.require('goog.dom');
	goog.require('goog.graphics');
	goog.require('kemia.graphics.AffineTransform');
	goog.require('goog.debug.Console');
</script>
<script>
    
function initPage(){

// note:  uncomment the next two lines to turn on console logging
//	var c = new goog.debug.Console(); 
//	c.setCapturing(true); 

	var element = goog.dom.getElement('container')
	var graphics = goog.graphics.createGraphics(element.clientWidth,
			element.clientHeight);
	var group = graphics.createGroup();
	graphics.render(element);
	var r = new kemia.view.AtomRenderer( graphics);
	
	var trans = new kemia.graphics.AffineTransform(20,0,0,-20,0,0);
	var mol1 = new kemia.model.Molecule();
	var c1 = new kemia.model.Atom("C", 2, -2);
	mol1.addAtom(c1);
	r.render(c1, trans, group);

	
	var mol2 = new kemia.model.Molecule();
	var c2 = new kemia.model.Atom("C", 5, -2);
	var o2 = new kemia.model.Atom("O", 6, -2);
	mol2.addBond(new kemia.model.Bond(c2, o2, 2));
	trans = new kemia.graphics.AffineTransform(30,0,0,-30,0,0);
	r.render(c2, trans, group);
	r.render(o2, trans, group);
	
	var mol3 = new kemia.model.Molecule();
	var c3 = new kemia.model.Atom("C", 7, -2);
	var c4 = new kemia.model.Atom("C", 8, -2);
	mol3.addBond(new kemia.model.Bond(c3, c4, 3));
	trans = new kemia.graphics.AffineTransform(40,0,0,-40,0,0);
	r.render(c3, trans, group);
	r.render(c4, trans, group);
	
	var mol4 = new kemia.model.Molecule();
	var n = new kemia.model.Atom("N", 2, -4, 1);
	var s = new kemia.model.Atom("S", 2, -5);
	var p = new kemia.model.Atom("P", 4, -4);
	var cl = new kemia.model.Atom("Cl", 4, -5); 
	var f = new kemia.model.Atom("F", 6, -4);
	var br = new kemia.model.Atom("Br", 6, -5);
	var i = new kemia.model.Atom("I", 8, -4);
	var h = new kemia.model.Atom("H", 8, -5);
	mol4.addBond(new kemia.model.Bond(n,s));
	mol4.addBond(new kemia.model.Bond(p, cl));
	mol4.addBond(new kemia.model.Bond(f, br));
	mol4.addBond(new kemia.model.Bond(i,h));
	
	trans = new kemia.graphics.AffineTransform(30,0,0,-30,0,0);
	r.render(n, trans, group);
	r.render(s, trans, group);
	r.render(p, trans, group);
	r.render(cl, trans, group);
	r.render(f, trans, group);
	r.render(br, trans, group);
	r.render(i, trans, group);
	r.render(h, trans, group);
};

goog.events.listen(window, goog.events.EventType.LOAD, initPage);
</script>
</head>

<body>
<div id="container" style="width: 400px; height: 400px"></div>

</body>
</html>
